.cart {
    width: 80vw;
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--grey-200);
    border-radius: var(--borderRadius);
    padding: 1rem;
}

.cart .totalCartItems h4 {
    display: inline-block;
    align-self: center;
    justify-self: center;
}

.cartItems{
    display: block;
    margin: 0 auto;
    width: 85%;
}

.cartCheckout {
    text-align: center;
}

.cartTotal {
    font-size: var(--fontSize-200);
}